@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #000;
}

[data-theme='dark'] {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, Segoe UI, Roboto, sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl font-bold mt-4 mb-2;
  }
  h2 {
    @apply text-2xl font-bold mt-4 mb-2;
  }
  h3 {
    @apply text-lg font-bold mt-4 mb-2;
  }
  .post ul,
  .about ul {
    @apply list-square pl-6;
  }
  .post ol {
    @apply list-square pl-6;
  }
}
